<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- texture configuration -->
    <section name="textureConfiguration" type="XNA.Pong.Texture.TextureConfiguration, XNA.Pong" />
  </configSections>


  <!--textureConfiguration configSource="C:\Users\Stephan\Documents\Visual Studio 2008\Projects\XNA.Pong\XNA.Pong\Config\XNA.Pong.TextureConfiguration.config" /-->
  <textureConfiguration>
    <textures>
      <add name="Bubble" assetName="Bubble" />
      <add name="Grass" assetName="Grass" />
      <add name="PlanetBeam" assetName="PlanetBeam" />
      <add name="PlanetBeam2" assetName="PlanetBeam2" />
      <add name="TitleScreen" assetName="Pong Title Screen" />
      <add name="Pixel" assetName="Pixel" />
    </textures>
  </textureConfiguration>

</configuration>